* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #9b592a;
    background: linear-gradient(90deg, rgba(155, 89, 42, 1) 0%, rgba(253, 187, 45, 1) 100%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}