@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #280A50;
    background: linear-gradient(90deg, rgba(40, 10, 80, 1) 0%, rgba(40, 10, 80, 1) 100%);
    min-height: 100vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Nabla', cursive;
    text-align: center;
    margin-top: 100px;
    font-size: 10em;
}